/*font-family: 'Open Sans', sans-serif;*/
body {
	background: #ececec;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #000000;
	min-width: 320px;
}
img {
	max-width: 100%;
	height: auto;
}
h3 {
	font-size: 24px;
	font-weight: 700;
}
.btn-red {
	background: #d51e08;
	color: #fff;
}
.btn-red:hover {
	background: #ec4835;
}
.menu-top .navbar {
	margin-bottom: 0;
	background: #fff;
	padding: 20px 0;
	text-transform: uppercase;
}
.menu-top .navbar-default .navbar-nav > li >a {
	color: #000;
	padding-bottom: 5px;
	padding-top: 5px;
	transition: backgound .3s;
}
.menu-top .navbar-default .navbar-nav > li >a:hover {
	text-decoration: underline;
}
.menu-top .navbar-default .navbar-nav > li >a.btn-red {
  color: #fff;
	border-radius: 3px;
	padding: 5px 20px;
}
.menu-top .navbar-default .navbar-nav > li >a.btn-red:hover {
	background: #ec4835;
	text-decoration: none;
}
.menu-top .navbar-default .navbar-nav > li > a > .glyphicon {
	margin-right: 10px;
	font-size: 14px;
}
.menu-top .container,
.menu-top .navbar-collapse {
	padding-left: 0;
}
.flag {
	margin-right: 5px;
	position: relative;
	top: -1px;
}
.menu-carousels .item {
	min-height: 700px;
}
.menu-carousels .bgslide {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
}
.carousel.fade {
	opacity: 1;
}
.carousel.fade .item {
	opacity: 0;
	transition: opacity .5s;
	display: block;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.carousel.fade .item.active {
	opacity: 1;
	position: relative;
	z-index: 2;
}
.menu-carousels .carousel-caption {
  left: 0;
	right: 25%;
	top: 250px;
}
.menu-carousels .carousel-caption h1 {
	font-weight: 700;
	font-size: 48px;
}
.menu-carousels .carousel-caption p {
	font-size: 30px;
	margin-bottom: 30px;
}
.menu-carousels .carousel-caption .btn-red {
	padding: 10px 20px;
	border-radius: 3px;
	color: #fff;
	font-size: 24px;
  text-decoration: none;
}
.menu-carousels .left  {
	z-index: 10;
}
.menu-carousels .right  {
	z-index: 10;
}
.carousel-indicators-wrap {
	position: absolute;
	width: 100%;
	bottom: -4%;
	text-align: center;
}
.carousel-indicators-wrap .carousel-indicators {
	margin-left: 0;
	position: relative;
	left: 0;
	bottom: 0;
	display: inline-block;
	width: auto;
	border: 1px solid #cfcfcf;
	border-radius: 3px;
	background-color: #fff;
	padding: 5px 25px;
}
.carousel-indicators-wrap .carousel-indicators li {
	background-color: #d2d2d2;
	margin: 0 7px;
	width: 10px;
	height: 10px;
}
.carousel-indicators-wrap .carousel-indicators .active {
	background-color: #a3a3a3;
}
.carousel-indicators-wrap .carousel-indicators li:first-child {
	margin-left: 0;
}
.carousel-indicators-wrap .carousel-indicators li:last-child {
	margin-right: 0;
}
.main-menu {
	position: absolute;
	z-index: 21;
	width: 100%;
	top: 30px;
}
.main-menu .navbar-inverse {
	background: transparent;
	border: none;
}
.main-menu .main-menu-bg {
	background-color: #000;
	border-radius: 3px;
}
.main-menu .navbar-right  {
  margin-right: 0;
}
.main-menu .navbar-inverse .navbar-nav > li >a {
	color: #fff;
	font-size: 16px;
	transition: background .5s;
}
.main-menu .navbar-inverse .navbar-nav > li >a:hover {
	text-decoration: underline;
}
.menu-carousels .main-menu .navbar-brand {
	padding: 0;
	margin-left: 30px;
}
.main-menu .navbar-brand img {
	float: left;
}
.main-menu .navbar-brand span {
  display: inline-block;
	padding: 15px;
	font-weight: 700;
	text-transform: uppercase;
  color: #fff;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.menu-top .navbar-nav,
	.main-menu-bg .navbar-right {
		float: none !important;
	}
	.menu-carousels .carousel-caption {
		left: 20%;
	}
	.main-menu-bg .navbar-form {
		margin-left: 125px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.menu-carousels .carousel-caption h1 {
		font-size: 40px;
	}
	.menu-carousels .carousel-caption p {
		font-size: 25px;
		margin-bottom: 22px;
	}
	.menu-carousels .carousel-caption .btn-red {
		padding: 10px 20px;
		border-radius: 3px;
		color: #fff;
		font-size: 16px;
	}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .main-menu .container {
		padding-left: 0;
		padding-right: 0;
	}
}
@media only screen and (max-width : 767px) {
	.menu-top .navbar-default .navbar-nav > li > a:hover {
		background: #eee;
	}
	.menu-top .container,
	.menu-top .navbar-collapse {
		padding-left: 15px;
	}
	.main-menu .navbar-inverse .navbar-nav > li > a:hover {
		text-decoration: none;
		background: #222;
	}
	.main-menu .navbar-nav {
		margin: 7.5px 0;
	}
	.main-menu .navbar-form  {
		margin: 8px 0;
	}
	.main-menu .navbar-brand img {
    max-height: 50px;
	}
	.main-menu .navbar-toggle.collapsed + .navbar-brand img {
		max-height: none;
		position: relative;
		z-index: 20;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.menu-carousels .carousel-caption .btn-red {
	  font-size: 14px;
		padding: 10px;
		left: 0;
		right: 0;
	}
}
