/*font-family: 'Open Sans', sans-serif;*/
body {
	background: #ececec;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #000000;
	min-width: 320px;
}
img {
	max-width: 100%;
	height: auto;
}
h3 {
	font-size: 24px;
	font-weight: 700;
}
.btn-red {
	background: #d51e08;
	color: #fff;
}
.btn-red:hover {
	background: #ec4835;
}
.menu-top .navbar {
	margin-bottom: 0;
	background: #fff;
	padding: 20px 0;
	text-transform: uppercase;
}
.menu-top .navbar-default .navbar-nav > li >a {
	color: #000;
	padding-bottom: 5px;
	padding-top: 5px;
	transition: backgound .3s;
}
.menu-top .navbar-default .navbar-nav > li >a:hover {
	text-decoration: underline;
}
.menu-top .navbar-default .navbar-nav > li >a.btn-red {
  color: #fff;
	border-radius: 3px;
	padding: 5px 20px;
}
.menu-top .navbar-default .navbar-nav > li >a.btn-red:hover {
	background: #ec4835;
	text-decoration: none;
}
.menu-top .navbar-default .navbar-nav > li > a > .glyphicon {
	margin-right: 10px;
	font-size: 14px;
}
.menu-top .container,
.menu-top .navbar-collapse {
	padding-left: 0;
}
.flag {
	margin-right: 5px;
	position: relative;
	top: -1px;
}
.menu-carousels .item {
	min-height: 700px;
}
.menu-carousels .bgslide {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
}
.carousel.fade {
	opacity: 1;
}
.carousel.fade .item {
	opacity: 0;
	transition: opacity .5s;
	display: block;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.carousel.fade .item.active {
	opacity: 1;
	position: relative;
	z-index: 2;
}
.menu-carousels .carousel-caption {
  left: 0;
	right: 25%;
	top: 250px;
}
.menu-carousels .carousel-caption h1 {
	font-weight: 700;
	font-size: 48px;
}
.menu-carousels .carousel-caption p {
	font-size: 30px;
	margin-bottom: 30px;
}
.menu-carousels .carousel-caption .btn-red {
	padding: 10px 20px;
	border-radius: 3px;
	color: #fff;
	font-size: 24px;
  text-decoration: none;
}
.menu-carousels .left  {
	z-index: 10;
}
.menu-carousels .right  {
	z-index: 10;
}
.carousel-indicators-wrap {
	position: absolute;
	width: 100%;
	bottom: -4%;
	text-align: center;
}
.carousel-indicators-wrap .carousel-indicators {
	margin-left: 0;
	position: relative;
	left: 0;
	bottom: 0;
	display: inline-block;
	width: auto;
	border: 1px solid #cfcfcf;
	border-radius: 3px;
	background-color: #fff;
	padding: 5px 25px;
}
.carousel-indicators-wrap .carousel-indicators li {
	background-color: #d2d2d2;
	margin: 0 7px;
	width: 10px;
	height: 10px;
}
.carousel-indicators-wrap .carousel-indicators .active {
	background-color: #a3a3a3;
}
.carousel-indicators-wrap .carousel-indicators li:first-child {
	margin-left: 0;
}
.carousel-indicators-wrap .carousel-indicators li:last-child {
	margin-right: 0;
}
.main-menu {
	position: absolute;
	z-index: 21;
	width: 100%;
	top: 30px;
}
.main-menu .navbar-inverse {
	background: transparent;
	border: none;
}
.main-menu .main-menu-bg {
	background-color: #000;
	border-radius: 3px;
  position: relative;
}
.main-menu .navbar-right  {
  margin-right: 0;
}
.main-menu .navbar-inverse .navbar-nav > li >a {
	color: #fff;
	font-size: 16px;
	transition: background .5s;
}
.main-menu .navbar-inverse .navbar-nav > li >a:hover {
	text-decoration: underline;
}
.menu-carousels .main-menu .navbar-brand {
	padding: 0;
	margin-left: 30px;
}
.main-menu .navbar-brand img {
	float: left;
}
.main-menu .navbar-brand span {
  display: inline-block;
	padding: 15px;
	font-weight: 700;
	text-transform: uppercase;
  color: #fff;
}
.main-menu .search {
	color: #fff;
  cursor: pointer;
	font-size: 22px;
	line-height: 50px;
	position: absolute;
	right: 25px;
	z-index: 30;
	display: none;
}
.main-slogan {
	background: #fff;
	text-align: center;
	padding: 50px 0;
	border-top: 1px solid #cfcfcf;
	border-bottom: 3px solid #dadada;
}
.main-slogan h1 {
	font-size: 30px;
	margin: 0;
}
.sidebar {
	padding: 50px 0 70px;
	border-right: 3px solid #dadada;
}
.widget {
	border-bottom: 3px solid #dadada;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.widget h3,
.content h3 {
  margin-top: 0;
	margin-bottom: 30px;
}
.widget ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}
.widget ul li a {
	color: #000;
	font-size: 16px;
	line-height: 30px;
	display: block;
}
.widget ul li.more a {
	color: #358acd;
}
.sidebar .sidebar-carousel-caption {
	border-bottom:1px solid #e1e1e1;
	background: #fff;
	padding: 20px 0;

}
.sidebar .sidebar-carousel-caption h4 {
	font-weight: bold;
	font-size: 14px;
	margin: 0 19px;
}
.sidebar .sidebar-carousel-caption p {
	text-align: center;
	font-size: 12px;
	margin: 20px;
	color: #5b5b5b;
}
.sidebar .carousel-indicators {
	background: #fff;
	position: relative;
	bottom: 0;
	left: 0;
	width: auto;
	margin-left: 0;
	margin-bottom: 25px;
	padding: 5px 0;
}
.sidebar .carousel-indicators li {
	background: #9a9a9a;
	width: 10px;
	height: 10px;
	margin: 0 5px;
}
.sidebar .carousel-indicators li.active {
	background: #5b5b5b;
}
.sidebar .banner {
	background: #fff;
	text-align: center;
	margin-bottom: 25px;
}
.sidebar .banner img {
	margin-bottom: 30px;
}
.sidebar .banner h2,
.sidebar .banner h3 {
	text-transform: uppercase;
	margin: 0;
}
.sidebar .banner h2 {
	font-size: 28px;
	font-weight: bold;
}
.sidebar .banner h3 {
	font-size: 18px;
}
.sidebar .banner a.btn-red {
	padding: 5px 30px;
	margin: 24px 0;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 3px;
	transition: all .5s;
}
.sidebar .banner a.btn-red:hover {
	color: #fff;
	text-decoration: none;
}
.sidebar .about {
	padding-right: 43px;
}
.sidebar .about h3 {
	margin:0 0 25px;
}
.sidebar .about p {
	color: #585858;
	margin-bottom: 30px;
}
.sidebar .about p span {
	color: #0a94b2;
}
.content {
	padding: 50px 0 70px;
}
.content h3 {
	padding-left: 15px;
}
.products-row {
	margin-top: 50px;
	margin-bottom: 50px;
}
.banner-row {
	margin-bottom: 50px;
	text-align: center;
}

.product {
	background: #fff;
	border: 1px solid #c0c0c0;
	padding: 25px 15px;
	text-align: center;
	position: relative;
	height: 452px;
	overflow: hidden;
	transition: .5s;
}
.product:hover {
	box-shadow: 0 0 16px rgba(0, 0, 0, .5);
}
.product-favorites {
	position: absolute;
	top: 10px;
	right: 20px;
}
.product-favorites span {
	color: #909090;
	font-size: 20px;
}
.product-sale {
  position: absolute;
	left: 15px;
	top: 15px;
	width: 50px;
	height: 50px;
	border: 1px solid #d1d1d1;
	line-height: 50px;
	text-transform: uppercase;
}
.product-img {
	height: 200px;
	width: 100%;
}
.product-title a {
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
	max-height: 40px;
	overflow: hidden;
}
.product-deck {
	max-height: 60px;
	overflow: hidden;
}
.product-price {
	font-size: 18px;
	font-weight: bold;
	color: #d51e08;
	margin-bottom: 15px;
}
.product-buy {
	position: absolute;
	bottom: 28px;
	left: 0;
	text-align: center;
	width: 100%;
}
.product-buy .btn {
	text-transform: uppercase;
	padding: 10px 25px;
	border-radius: 2px;
}
.product-buy .btn:hover {
	background: #ececec;
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.menu-top .navbar-nav,
	.main-menu-bg .navbar-right {
		float: none !important;
	}
	.menu-carousels .carousel-caption {
		left: 20%;
	}
	.main-menu-bg .navbar-form {
		/*margin-left: 125px;*/
		position: absolute;
		top: 50px;
		right: 0;
		background: rgba(0, 0, 0, 0.6);
		margin: 0;
		padding: 10px;
		display: none;
	}
	.main-menu .search {
		display: block;
	}
	.sidebar .carousel,
	.sidebar .banner {
		margin-right: 20px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.menu-carousels .carousel-caption h1 {
		font-size: 40px;
	}
	.menu-carousels .carousel-caption p {
		font-size: 25px;
		margin-bottom: 22px;
	}
	.menu-carousels .carousel-caption .btn-red {
		padding: 10px 20px;
		border-radius: 3px;
		color: #fff;
		font-size: 16px;
	}
	.sidebar {
		padding-top: 0;
		padding-bottom: 0;
		border-right: none;

	}
	.sidebar .carousel,
	.sidebar .banner {
		margin-right: 0;
	}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .main-menu .container {
		padding-left: 0;
		padding-right: 0;
	}
	.content {
		padding-top: 20px;
		padding-bottom: 0;
	}
	.products-row {
		margin: 20px 0;
	}
	.product {
		margin-bottom: 10px;
	}
	.banner-row img {
		margin-bottom: 10px;
	}
}
@media only screen and (max-width : 767px) {
	.menu-top .navbar-default .navbar-nav > li > a:hover {
		background: #eee;
	}
	.menu-top .container,
	.menu-top .navbar-collapse {
		padding-left: 15px;
	}
	.main-menu .navbar-inverse .navbar-nav > li > a:hover {
		text-decoration: none;
		background: #222;
	}
	.main-menu .navbar-nav {
		margin: 7px 0;
	}
	.main-menu .navbar-form  {
		margin: 8px 0;
	}
	.main-menu .navbar-brand img {
    max-height: 50px;
	}
	.main-menu .navbar-toggle.collapsed + .navbar-brand img {
		max-height: none;
		position: relative;
		z-index: 20;
	}
	.main-menu .search {
		display: none;
	}
	.main-menu-bg .navbar-form {
		display: block !important;
		position: relative;
		background: transparent;
	}
}
@media only screen and (max-width : 540px) {
  .sidebar .col-xs-6 {
		width: 100%;
	}
	.sidebar .carousel,
	.sidebar .banner {
		display: inline-block;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.menu-carousels .carousel-caption .btn-red {
	  font-size: 14px;
		padding: 10px;
		left: 0;
		right: 0;
	}
	.main-menu .navbar-toggle.collapsed + .navbar-brand img {
		max-height: 80px;
	}
}
